* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --avatar-image: url(../assets/Avatar-Dark.png);
  --background-image: url(../assets/background-desktop-dark.jpg) no-repeat top center/cover;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --avatar-image: url(../assets/Avatar-Light.png);
  --background-image: url(../assets/background-mobile-light.jpg) no-repeat top center/cover;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../assets/sun.svg);
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

body {
  height: 100vh;
  background: var(--background-image);
}

#container {
  margin: 56px 10px;
}